.admin-content {
    display: flex;
    flex: 1;
    width: 100%;

    .sidebar {
        min-width: 200px;
        padding: 1rem;

        ul {
            li {
                a {
                    color: blueviolet;
                }
            }
        }
    }

    .content {
        background-color: burlywood;
        flex: 1;
        padding: 1rem;
    }
}